body {
    background:#fff;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size:36px;
}

body.ios {
  font-size: 12px;
}

html, body {
    height: 100%;
}

* {
  font-family: 'Proxima-Nova', sans-serif;
  /*font-size: 36px;*/
  font-style: normal;
  font-weight: 300;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
    color:#666;
}

h3 {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 0 0 1em 0;
  font-size: 1em;
}

#container {
    width: 100%;
}

#header {
    background: #00b4ff;

    padding:0;
    position: fixed;
    height: 3.3em;
    top:0;
    width: 100%;
    z-index: 100;
}

#main {
    padding-top:3.3em;
    width: 100%;
}

#authentication {

}

#authentication h1 {
    font-weight: 800;
    text-align: center;
}

#authentication p {
    text-align: justify;
}

input, textarea, select {
    border: #cecece 1px solid;
    padding: 3px;
    font-size: 1em;
}


input,
textarea,
select,
button {
    border-radius: 3px;
    background: #fdfdfd;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dedede), to(#fdfdfd));
    background: -webkit-linear-gradient(top, #fdfdfd, #dedede);
    background: -moz-linear-gradient(top, #fdfdfd, #dedede);
    background: -ms-linear-gradient(top, #fdfdfd, #dedede);
    background: -o-linear-gradient(top, #fdfdfd, #dedede);
    padding: 5px;
}


input.error,
select.error {
    border-radius: 3px;
    background: #febebe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fedede), to(#febebe));
    background: -webkit-linear-gradient(top, #febebe, #fedede);
    background: -moz-linear-gradient(top, #febebe, #fedede);
    background: -ms-linear-gradient(top, #febebe, #fedede);
    background: -o-linear-gradient(top, #febebe, #fedede);
    padding: 5px;
}


button.button-2,
button.save {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b4ff+0,0089f9+100 */
    background: #00b4ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b4ff 0%, #0089f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b4ff), color-stop(100%,#0089f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b4ff 0%,#0089f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b4ff 0%,#0089f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b4ff 0%,#0089f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b4ff 0%,#0089f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4ff', endColorstr='#0089f9',GradientType=0 ); /* IE6-9 */

    color: #fff;
}

button.button-3 {
    background: rgb(183,12,0);
    background: -moz-linear-gradient(top,  rgba(183,12,0,1) 0%, rgba(204,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,12,0,1)), color-stop(100%,rgba(204,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(183,12,0,1) 0%,rgba(204,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(183,12,0,1) 0%,rgba(204,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(183,12,0,1) 0%,rgba(204,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(183,12,0,1) 0%,rgba(204,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b70c00', endColorstr='#cc0000',GradientType=0 );
    color: #fff;
}

button.button-4 {
    background: rgb(242,130,91);
    background: -moz-linear-gradient(top,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,130,91,1)), color-stop(50%,rgba(229,91,43,1)), color-stop(100%,rgba(240,113,70,1)));
    background: -webkit-linear-gradient(top,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
    background: -o-linear-gradient(top,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
    background: -ms-linear-gradient(top,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
    background: linear-gradient(to bottom,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 );
    color: #fff;
}

button.button-5 {
    background: rgb(201,222,150);
    background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1)));
    background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
    background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
    background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
    background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
    color: #fff;
}

button.blue-btn {
    font-size: 2em !important;
    padding: 0 !important;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    width: 100%;

    position: relative;
    background-image: url(/img/button-bkg.png) !important;
    background-repeat: repeat-x !important;
    background-size: auto 100% !important;
    height: 2em;
    border: none;
}

button.blue-btn span {
    display: block;
    background: url(/img/button-arrow.png?t=1) no-repeat;
    background-size: auto 100% !important;
    position: absolute;
    right: 1em;
    top: 1em;
    height: 2em;
    width: 1.2em;

}

button.blue-btn.disabled {
    opacity: 0.7;
    -moz-opacity: 0.7;
}

#container {
    position: relative;
}

#main {
    width: 100%;
}

#paging {
    background: rgb(59,192,240); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,192,240,1) 0%, rgba(33,182,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,192,240,1)), color-stop(100%,rgba(33,182,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(59,192,240,1) 0%,rgba(33,182,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(59,192,240,1) 0%,rgba(33,182,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(59,192,240,1) 0%,rgba(33,182,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(59,192,240,1) 0%,rgba(33,182,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bc0f0', endColorstr='#21b6ee',GradientType=0 ); /* IE6-9 */

    color: #fff;
}

#paging div {
  text-align: center;
  font-size: 1.5em;
  line-height: 3em;
}

#page-prev {
  float:left;
  width: 2em;
  cursor:pointer;
  height: 3em !important;
  font-weight:800;
}

#page-next {
  float:right;
  width: 2em;
  cursor:pointer;
  height: 3em !important;
  font-weight:800;
}

#page-next.disabled {
    color: #eee;
    cursor:default;
}

#page-title {
  margin-left: 2em;
  margin-right: 2em;
  height: 1.5em;
}

.suggest p {
  font-weight: 100;
  margin: 1em 1em 0 1em;
  padding: 0.5em;
    text-align: justify;
}

.delayed {
  transition: all 0.2s;
  transition-delay: 300ms;
}

.delayed:active {
  transition: none;
}

button.delayed:active {
  color: #a1a1a1 !important;
}

button.delayed {
  border: none;
  background: transparent;
  outline: 0;
}


.button-1,
.button-2,
.button-3 {
    font-size:1.8em;
    padding: 0 0.5em;
    border-radius:0.1em;
    color: #fff;
}
.button-1 {
    background: #fc3e78 !important;
}

.button-2 {
    background: #0088cc !important;
}

.button-3 {
    background: #17a6e2 !important;
}

#overlay {
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height: 100%;
    min-height: 2000px;
    background: #cecece;
    z-index: 1000;
    transition: all 1s;
    opacity: 0;
    -moz-opacity: 0;
    
    display:none;
}

#overlay.popup {
    opacity: 0.5;
    -moz-opacity: 0.5;
    display:block;
}

#page-1, #page-2, #page-3, #page-4, #page-5, #page-6, #page-7, #page-8, #page-9, #page-10, #page-11, #page-12,
#page-13, #page-14, #page-15, #page-16, #page-17, #page-18 {
  position: absolute;
  width:100%;
  transition: all 0.2s;
}

#page-1 {
    -webkit-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

#page-2, #page-3, #page-4, #page-5, #page-6, #page-7, #page-8, #page-9, #page-10, #page-11, #page-12,
#page-13, #page-14, #page-15, #page-16, #page-17, #page-18 {
    -webkit-transform: translate(-100%,0); /* iOS makes a mess with the zoom when translated to the right, even if overflow hidden is used on the parent */
    -o-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.iOS #page-2, .iOS #page-3, .iOS #page-4, .iOS #page-5, .iOS #page-6, .iOS #page-7, .iOS #page-8, .iOS #page-9, .iOS #page-10, .iOS #page-11, .iOS #page-12,
.iOS #page-13, .iOS #page-14, .iOS #page-15, .iOS #page-16, .iOS #page-17, .iOS #page-18 {
    -webkit-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

#page-1.active, #page-2.active, #page-3.active, #page-4.active, #page-5.active, #page-6.active, #page-7.active, #page-8.active, #page-9.active, #page-10.active,
#page-11.active, #page-12.active, #page-13.active, #page-14.active, #page-15.active, #page-16.active, #page-17.active, #page-18.active {
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -o-transform: translate(0,0);
  -moz-transform: translate(0,0);
}

#form-errors {

}

#form-errors li {
    list-style: none;
    padding: 0;
    color: #dd281f;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.cell {
    border-top: #fff 3px solid;
    border-bottom: #c9c9c9 3px solid;
    padding: 0.2em;
}

.cell-a, .cell-b {
    width: 50%;
    float: left;
}
.cell-a > div {
    border-top: #fff 3px solid;
    border-right: #c9c9c9 3px solid;
    border-bottom: #c9c9c9 3px solid;
}

.cell-b > div  {
    border-left: #fff 3px solid;
    border-top: #fff 3px solid;
    border-bottom: #c9c9c9 3px solid;
}

.cell-e {
    clear:both;
    border-top: #fff 3px solid;
}

.cell-a > div, .cell-b > div {
    text-align: center;
font-size:1.5em;
    padding: 0.2em;
    height: 2.5em;
}

.cell-a div span, .cell-b div span {
    font-weight: bold;
    font-size: 1em;
}

.cell-a div span span, .cell-b div span span {
    font-size: 0.6em;
}

.subteaser {
    background: #17b7ee;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin: -0.1em 0 0 0;
    padding: 0 1em 0.1em 2em;
}

.cell-h-a,
.cell-h-b {
    width: 50%;
    float: left;
    background: #efefef;
}

.legend {
    width: 1em;
    float:left;
    height: 3.5em;
    background: #c00;
    margin-right:0.5em;
}

.cell-a1,
.cell-b1 {
    width: 50%;
    float: left;
    border-top:#fff 3px solid;
    border-bottom: #c9c9c9 3px solid;
    font-size: 1em;
}

.cell-a1 span,
.cell-b1 span {
    font-weight: bold;
    font-size: 1.5em;
}

.open {
    width: 1em;
    float:right;
    height: 1.5em;
    margin: 0.8em 0.4em 1.2em 0;
    background: url(/img/button-arrow-black.png?t=1) no-repeat;
    background-size: auto 100% !important;
}

#page-1 {
    width: 100%;
}



.checkbox {
    display: inline-block;
    cursor: pointer;
    font-size: 1.4em;
    margin-right:1em;
    line-height:1.2em;
}
input[type=checkbox] {
    display:none;
}
.checkbox:before {
    content: "\f204";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    vertical-align:middle;
    font-size: 1.5em;
}
input[type=checkbox]:checked + .checkbox:before {
    content: "\f205";
}

input[type=checkbox]:disabled + .checkbox:before {
    color: #eee;
}


@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

#consumer-list,
#workorder-list,
#appointment-list {
    margin: 0;
    padding: 0;
}

#consumer-list li,
#workorder-list li,
#appointment-list li {
    list-style: none;
    margin: 0;
    padding: 0 0 0.1em 0;
    font-size: 1.5em;
    line-height: 1.5em;
    border-top: #ccc 1px solid;
    border-bottom: #eee 2px solid;
    position: relative;
    min-height: 6.6em;
}

#workorder-list li {
    padding: 0.1em 0.3em;
}

#consumer-list li i,
#workorder-list li i,
#appointment-list li i {
  position: absolute;
    right: 0;
    top: 0;
    line-height: 5em;
    font-size: 1.3em;

}

#consumer-list li span,
#workorder-list li span,
#appointment-list li span {
    display: block;
    font-style: italic !important;
    font-size: 0.7em;
    line-height: 0.9em;
}

#workorder-list li.finished {
    background: #efefef;
}

.form-row {
    margin-bottom: 0.3em;
}

.form-label {

}

input {
    width:100%;
    font-size:2em;
}

.empty {
    color: #666;
}

.small {
    width: 31%;
}
.medium {
    width: 65%;
}

#sidebar-left {
    width:100%;
    position: fixed;
    left: -100%;
/*

    color: #333;*/
    z-index: 200;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    /*border-bottom:#262b2e 2px solid;*/
    margin-bottom: 2em;
}

#sidebar-left.sidebar li {
    list-style: none;
    height: 2.2em;
    line-height: 2.2em;
    font-size: 1.5em;
    margin:0 0 0.1em 0;
    padding:0 0 0 0.5em;
    font-weight: 400 !important;
    /*text-shadow: 0.1em 0.1em #32373a;*/
    background: #00b4ff;
    color: #fff;
    transition: background 0.1s;
    position: relative;
}

.sidebar ul  li.subnav span {
    position: absolute;
    right: 0;
}

.sidebar-inner h3,
.sidebar-inner h4,
.sidebar-inner h5 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.sidebar-inner h3 {
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
    width: 100%;
    margin-top: 0.2em;
    color: #666;
}

.sidebar-inner h4 {
    font-size: 1.4em;
}

.sidebar-inner h5 {
    font-size: 1.4em;
    text-align: left;
    margin: 0.6em;

}

.sidebar-inner label {
    font-size: 1em;
    font-weight: 400;
}

.sidebar-inner input.checkbox {
    position: absolute;
    right: 0.2em !important;
    margin-right: 0 !important;
    top: 0.1em;
}

#mainnav,
#subnav {
    width: 100%;
    position: absolute;
    top: 2.5em;
    transition: all 0.3s;
}

#subnav {
    -webkit-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
    transform: translate(100%,0);

    visibility: hidden;
    width: 100%;
}

#subnav.available {
    visibility: visible;
}

#mainnav.active,
#subnav.active {
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);
}

#mainnav {
    -webkit-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    -moz-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

#nav-close,
#chat-close {
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    left: auto;
    width: auto;
    font-size: 0.85em;
}

#nav-back {
    position: absolute;
    left: 0.5em;
    top: 0.2em;
    right: auto;
    width: auto;
    font-size: 0.85em;
    visibility: hidden;
}

.sidebar li i {
    display:block;
    float:left;
    width:1.5em;
    position:relative;
    top:0.6em;

}
#sidebar-right {
    width:100%;
    position: fixed;
    right: -100%;

    background: rgb(66,66,66); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(66,66,66,1) 0%, rgba(84,84,84,1) 7%, rgba(84,84,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(66,66,66,1)), color-stop(7%,rgba(84,84,84,1)), color-stop(100%,rgba(84,84,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(66,66,66,1) 0%,rgba(84,84,84,1) 7%,rgba(84,84,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(66,66,66,1) 0%,rgba(84,84,84,1) 7%,rgba(84,84,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(66,66,66,1) 0%,rgba(84,84,84,1) 7%,rgba(84,84,84,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(66,66,66,1) 0%,rgba(84,84,84,1) 7%,rgba(84,84,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#545454',GradientType=1 ); /* IE6-9 */

    color: #fff;
    z-index: 200;
}

#sidebar-right p {
    font-size: 1.5em;
}

.sidebar {
    transition: all 0.2s cubic-bezier(.69,1,.88,1);
    top:0;
    height:100%;
    /*background:url(/img/stats-bkg.png);*/
    background: #fff;
}
.sidebar-inner {
    height: 100%;
    position: relative;
    /*background:url(/img/stats-bkg.png);*/
    background: #fff;
}
#sidebar-left.sidebar-inner {
    border-radius: 0 1em 1em 0;
}
#sidebar-right.sidebar-inner {
    border-radius: 1em 0 0 1em;
}
#sidebar-left.active {
    left:0;
}
#sidebar-right.active {
    right:0;
}


.subnav {
    margin: 0 0.5em;
    padding: 0;
}

.subnav li {
    height: 2em;
    background: #17a6e2;
    list-style:none;
    color: #fff;
    font-size: 1.6em;
    line-height: 2em;
    border-bottom: #fff 2px solid;
    border-top: #eee 1px solid;
    padding: 0 0.5em;
    border-radius: 10px;
    margin-bottom: 0.1em;
}

.subnav li.inactive {
    color: #ccc;
}

/*
.subnav li.save {
    background: #56d600;
}*/

/*
.subnav li.delete {
    margin-top: 1em;
    background: #e93653;
}*/

.subnav li.shortlist {
    background: #17b7ee;
}


#images {
    padding: 0;
    margin: 0;
}

#images li {
    display: block;
    float: left;
    width: 49%;
    list-style: none;
    padding: 0;
    margin: 0 0.5% 0 0;
}

#images li img {
    border: #cecece 2px solid;
    padding: 3px;
    width: 95%;
    height: 10em;
    overflow: hidden;
}

#images li.selected img {
    border: #cc0000 5px solid;
    padding: 0;
}
/*
input[type="file"]#fileElem1 {
    visibility: hidden;
    width: 0;
    height: 0;
}
*/

#orderrows,
#invoice-summary,
#workorder-summary,
#check-summary {
    margin: 0;
    padding: 0;
}

#invoice-summary,
#check-summary {
    margin-bottom: 1em;

}

#orderrows li,
#invoice-summary li,
#workorder-summary li,
#check-summary li {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 1.6em;
    line-height: 2em;
}

#orderrows li span,
#invoice-summary li span,
#workorder-summary li span,
#check-summary li span {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 2em;
}

#orderrows li button {
    width: 49%;
    font-size: 1em;
    line-height: 1.5em;
    color: #fff;
    background: #56d600;
    border: none;
}

#orderrows li button:first-of-type {
    margin-right: 2%;
    background: #e93653;
}

#workorder-summary li button {
    display: none !important
}

.row-total:before,
.row-type-activity:before,
.row-type-product:before,
.row-type-hours:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, -0.1em);
    vertical-align:middle;
    font-size: 0.9em;
    color: #cecece;
    margin-right: 0.2em;
}

.row-type-activity:before {
    content: "\f0ad";
}

.row-type-product:before {
    content: "\f07a";
}

.row-type-hours:before {
    content: "\f017";
}

.row-total:before {
    content: "\f153";
    font-size: 1em;
}

.row-total {
    border-top: #cecece 1px solid;
    border-bottom: #cecece 2px solid;
}

.subnav li {
    position: relative;
}
.subnav li span.fa {
    display: none;
    position: absolute;
    right: 0.1em;
    line-height: 2em;
    color: #16dd36;
}

#sn-2.inactive span.fa,
#sn-7.inactive span.fa,
#sn-3.active span.fa,
#sn-4.active span.fa,
#sn-6.readable span.fa,
#sn-8.readable span.fa {
    display: inline;
}

#sn-2.readable,
#sn-7.readable {
    color: #fff;
}


#chat-stream {
    width: 100%;
    height: 30em;
    overflow: auto;
}

#chat-stream ul {
    border: none;
    margin: 0;
    padding: 0;
}
#chat-stream li {
    background: none;
    font-size: 1.1em;
    line-height: 1.3em;
    text-shadow: none;
    margin: 0 0 0.6em 0;
    border: none;
    height: auto;
    font-weight: 400;
}

#chat-stream li span {
    color: #333;
}

#chat-stream li.own {
    padding-left: 2em;
}

#chat-stream li.other {
    padding-right: 2em;
}

#chat-stream li.other span {
    display: block;
    text-align: right;
}

#chat-stream li.admin {
    padding-right: 2em;
}

#chat-stream li.admin span {
    display: block;
    text-align: right;
}

#chat-stream li.own div {
    background: #bababa;
    color: #000;
    font-size: 1.1em;
    padding: 0.5em;
    font-weight: 500;
}

#chat-stream li.other div {
    background: #30b4a0;
    color: #000;
    font-size: 1.1em;
    padding: 0.5em;
    font-weight: 500;
}

#chat-stream li.admin div {
    background: #2ea6dd;
    color: #000;
    font-size: 1.1em;
    padding: 0.5em;
    font-weight: 500;
}

#chat-text {
    outline: none;
    margin: 10px;
    width:400px;
    font-size:2em;
    padding:0.1em 10px;
    border: #616161 1px solid;
    color: #000;
    margin-top: 0.25em;
    border-radius: none;
}

#chat-enter {
    border: none;
    font-size: 2em;
    background: #efefef;
    color: #000;
    margin: 0;
    padding: 0 10px 0 0;
}

#chat-form {
    background: #efefef;
    height: 4em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
}
.date-selector {
border: #fafafa 2px solid;
    position: relative;
    border-radius: 5px;
    padding: 0.5em;
}

.date-prev {
    position: absolute;
    left: 0;
    top: 0;
    width: 2em;
    padding: 0.15em 0.4em;
    font-size: 2em;
}

.date-next {
    position: absolute;
    right: 0;
    top: 0;
    width: 2em;
    padding: 0.15em 0.4em;
    text-align: right;
    font-size: 2em;
}

.date-current {
    text-align: center;
    font-size: 1.5em;
}

#workorder-collapse {
    font-size: 2em;
    text-align: center;
}

.search {
    position: relative;
}

.search input {
    /*text-indent: 30px;*/
}

.search .fa-search {
    position: absolute;
    top: 0.3em;
    right: 0.5em;
    font-size: 1.5em;
    color: #cecece;
}

#remarks {
    width: 100%;
    height: 5em;
    font-size: 2em;
}

#remarks-summary {
    font-size: 1.6em;
    padding-left: 1em;
}

.search-result {
    position: absolute;
    z-index: 100;
    border: #cecece 1px solid;
    width: 100%;
    background: #fff;
}

.search-result ul {
    margin: 0;
    padding: 0;
}

.search-result li {
    list-style: none;
    padding: 0.3em;
    margin: 0;
    font-size: 1.5em;
}

.search-result li:nth-child(odd) {
    background: #f8f8f8;
}

#connection-down {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 300;
    display: none;
}

#connection-down.active {
    display: block;
}

#connection-down div {
    border: #fff 2px solid;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1.2em;
    background: #e93653;
    color: #fff;
}

#prompt {
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1001;
    display: none;
}

#prompt.active {
    display: none;
}

#prompt div {
    border: #0a2b1d 2px solid;
    line-height: 2.5em;
    font-size: 1.2em;
    background: #1dc116;
    color: #fff;
}

#prompt div button {
    width: 49%;
    font-size: 1em;
    line-height: 1.5em;
    color: #fff;
    background: #56d600;
    border: #fff 1px solid;
}